Hello, <%=user_name%>, age <%=age%>! You have <%=hair_color%> hair and <%=eye_color%> eyes. What is your favorite food?

<form method = "post" action = "/fave_food">
	<input type = "text" name = "fave_food">
	<input type = "hidden" name = "user_name" value = <%=user_name%>>
	<input type = "hidden" name = "age" value = <%=age%>>
	<input type = "hidden" name = "hair_color" value = <%=hair_color%>>
	<input type = "hidden" name = "eye_color" value = <%=eye_color%>>
	<input type = "submit">
</form>